::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #888; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
html {
    scroll-behavior: smooth;
}
body {
    max-width: 100%;
    margin: 0;
    font-size: 28px;
    background-image: #122640;

}

*{
    font-family: 'Josefin Sans', sans-serif;
}

@media (min-width: 720px) {
    .deskmenu { display: block; } 
    .handmenu { display: none; } 
}

@media (max-width: 719px) {
    .deskmenu { display: none;}
    .handmenu { display: block;}
}

#navbar {
    overflow: hidden;
    transition: 1.5s;
    z-index: 100;
    width: 100%;
    white-space: nowrap;
}

.n {
    background-color: white;
    margin-top: 1px;
}

.n a {
    color: black;
}
.n a:hover {
    color: grey;
}

#navbar a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
    font-family: 'Prompt', sans-serif;
}

.sticky {
    position: fixed;
    top: -1;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sticky a {
    color: black;
}

.sticky a:hover {
    color: gray;
}

.sticky + .content {
    padding-top: 60px;
}

.menubtn{
    position: absolute;
    top: 10px;
    left: 16px;
    font-size:30px;
    cursor:pointer;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 5px;
    color: #fff;
    display: block;
    transition: 0.3s;
}


.sidenav .closebtn {
    position: absolute;
    top: 0px;
    left: -15px;
    font-size: 36px;
    cursor: pointer;
}


.sphead {
    font-size: 200%;
    color: black;
    margin-top: 100px;
    margin-bottom: 70px;
}

.box {
    width: 200px;
    height: 250px;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.column {
  padding: 20px;
}

@media screen and (max-width: 1024px) {
  .column {
    flex: 50%;
  }
}
@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

.row2 {
    white-space: nowrap;
}

.row2 > li {
    display: inline-block;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 17px;
}

.rowl {
    white-space: nowrap;
    margin-left: -100;
}

.rowl > li {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

.rowl > li > img {
    width: 250px;
    height: auto;
}

.rowl > li > h2 {
    text-align: left;
    color: #ffb300;
}

.rowl > li > div {
    text-align: left;
    color: black;
}

.footer {
    height: 180px;
    width: auto;
    background-color: black;
    padding: 5px;
    bottom: 0;
    margin-left: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}
.th {
    font-family: 'Prompt', sans-serif;
}

.footer a{
    text-decoration: none;
    transition: 0.3s;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.footer div{
    text-decoration: none;
    color: white;
    font-family: 'Prompt', sans-serif;
}

.mainimg2 {
    width: 78px;
    height: auto
}
.item1 { grid-area: header;  text-align: center; }
.item2 { grid-area: menu; text-align: center }
.item3 { grid-area: main; }
.item5 { grid-area: footer;   text-align: center;}

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu menu menu main main main'
    'footer footer footer footer footer footer';
  gap : 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: transparent;
  padding: 20px 0;
  font-size: 30px;
}
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}
.progress-container {
  width: 100%;
  height: 2px;
  background: white;
  position:fixed;
    margin-top: 0;
}

.progress-bar {
  height: 4px;
  background: black;
  width: 0%;
}

